[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fake2db = {editable = true,file = "file:///Users/gautham/Workspace/decalab/fake2db"}
psycopg2 = "*"

[requires]
python_version = "3.7"
